.product {
  &__photo {
    width: 100%;
    margin-bottom: 32px;

    @include hover(transform, scale(1.2));
  }

  // ?? між картинкою і заголовком є якийсь малий відступ ??
  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: $font-size-product;
    line-height: $line-height-product;
  }

  &__description {
    margin: 0;
    margin-bottom: 16px;
  }

  &__price {
    margin: 0;
    font-weight: 700;
    font-size: $font-size-product;
    line-height: $line-height-product;
  }
}
