$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$mobile-icons-size: 24px;
$tablet-icons-size: 32px;
$font-size-product: 24px;
$line-height-product: 140%;
$mobile-row-gap-categories: 40px;
$tablet-row-gap-categories: 48px;
$effectDuration: 0.3s;
$main-text-color: rgba(255, 255, 255, 1);
$second-text-color: rgba(29, 29, 29, 1);
$main-bg-color: rgba(29, 29, 29, 1);
$second-bg-color: rgba(194, 194, 194, 1);
$form-color: rgba(248, 248, 250, 1);
$text-form-color: rgba(41, 41, 41, 1);
